<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/../elementUI/index.css">
</head>
<body>

<div id="app">
    <template>
        <el-table
                :data="result.list"
                style="width: 90%"
                height="550"
                border
                stripe
                checkbox
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    label="名称"
                    width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.attributeName }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="绑定分类"
                    width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.shopType }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="参数"
                    width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.attributeValue }}</span>
                </template>
            </el-table-column>
            <el-table-column
                        label="排序"
                    width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.attributeSort }}</span>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.row)">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>


    <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="名称" :label-width="formLabelWidth">
                <el-input v-model="form.attributeName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="分类" :label-width="formLabelWidth">
                <el-input v-model="form.shopType" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="参数" :label-width="formLabelWidth">
                <el-input v-model="form.attributeValue" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
        </div>
    </el-dialog>

</div>

<script src="/../js/vue.min.js"></script>
<script src="/../elementUI/index.js"></script>
<script src="/../js/axios.min.js"></script>

<script>

    var parameter = new Vue({
        el : "#app",
        data : {
            selections:[],
            result:{
                list:[]
            },
            dialogFormVisible: false,
            form:{},
            formLabelWidth: '120px'
        },
        created:function(){
            this.findAll()
        },
        methods:{
            findAll :function(){

                axios.get("http://localhost:8080/attribute").then(function (resa) {
                    parameter.result.list = resa.data
                })

            },
            handleEdit:function (row) {
                this.dialogFormVisible = true
                this.form = row
                console.log(this.form)
            },
            handleSelectionChange:function(val) {
                this.selections = val;
                console.log(this.selections)
            }
        }
    })

</script>

</body>
</html>